/**
 * Pierce Gresham
 * WebTech
 * Assignment 2
 * 2/3/2017
 *
 * SCSS/CSS file
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

html {
  background-color: #222; }

body {
  background-color: #ccc;
  max-width: 960px;
  font: 1em/1.5em  'Roboto', sans-serif;
  line-height: 1.5;
  margin: auto;
  border: 1px solid #555; }

.main {
  clear: both; }

.main a {
  color: #327667; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

section h2 {
  margin-bottom: 1em; }

hgroup {
  margin-top: 1em;
  text-align: center; }

header h1 {
  font-family: 'Kalam' serif;
  font-style: italic;
  font-size: 2em;
  display: inline-block; }

header h2 {
  margin-left: 2em; }

section {
  min-height: 15em;
  margin-top: 0em; }

footer {
  background: #626E64;
  min-height: 5em;
  color: #eee;
  border-top: 1px solid white;
  padding-right: 1em;
  padding-top: 1em;
  clear: right; }

.boxes {
  height: 7.5em; }

table {
  width: 100%; }

td {
  height: 7.5em; }

section div {
  border-radius: 1em;
  margin-bottom: 1em; }

.sec2 {
  padding: 1.5em; }

#links,
#boxes {
  padding: 1em;
  background-color: #aaa; }

#date {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em; }

#slide {
  width: 100%;
  height: 15em;
  border: 3px solid #555;
  border-radius: 1em;
  margin-top: 1em; }

#forward {
  float: right; }

.pictures {
  background-color: #112e36; }

.center {
  text-align: center; }

header h1 {
  margin: 0 0 .5em .5em; }

.social-sites {
  float: right; }
  .social-sites li {
    display: inline; }

footer li {
  margin-left: 1em; }

nav {
  border-top: 1px solid #eee;
  clear: both; }

nav,
.drop-nav {
  background: #626E64; }

nav:after {
  content: " ";
  display: table;
  clear: both; }

nav a {
  padding: 10px 30px;
  text-decoration: none; }

nav > a {
  display: block; }

nav li {
  border-right: 1px solid silver;
  float: left; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/** This line finally! */
nav li {
  display: inline; }

nav li:hover {
  background-color: #727E74; }

.nav-bar a {
  color: #fff;
  text-decoration: none; }

.nav-bar a:hover {
  text-decoration: none;
  animation: glow 1s 1;
  text-shadow: 0 0 20px  #fff; }

#back,
#forward {
  margin: 0em 1em 1em 1em;
  background-color: #999;
  border-radius: .25em; }

@media only screen and (max-width: 767px) {
  .slide {
    margin-left: 1em;
    margin-right: 1em; } }
/** Button Animation */
@keyframes glow {
  from {
    text-shadow: none; }
  to {
    text-shadow: 0 0 20px #fff; } }
.box {
  border-radius: 1em;
  border: 2px solid #555;
  margin: auto;
  width: 6em;
  height: 6em;
  padding: .5em; }

.box1 {
  background-color: seagreen; }

.b1a {
  animation: back .5s 1;
  background-color: violet;
  transform: rotateX(180deg); }

@keyframes back {
  from {
    transform: rotateX(0deg);
    background-color: seagreen; }
  to {
    transform: rotateX(180deg);
    background-color: violet; } }
.b1b {
  animation: front .5s 1;
  background-color: seagreen;
  transform: rotateX(0deg); }

@keyframes front {
  from {
    background-color: violet;
    transform: rotateX(180deg); }
  to {
    transform: rotateX(0deg);
    transform: rotateY(0deg); } }
.box2 {
  background-color: #eee; }

.b2a {
  background-color: #222;
  transform: rotateY(180deg);
  animation: flip2 2s 1;
  box-shadow: 0 0 10px 15px #aaa; }

@keyframes flip2 {
  from {
    transform: rotateY(0deg);
    background-color: #eee;
    box-shadow: none; }
  to {
    transform: rotateY(180);
    background-color: #222;
    box-shadow: 0 0 10px 15px #aaa; } }
.b2b {
  background-color: #eee;
  transfrom: rotateY(0deg);
  animation: flip1 2s 1;
  box-shadow: none; }

@keyframes flip1 {
  from {
    background-color: #222;
    transform: rotateY(180deg);
    box-shadow: 0 0 10px 15px #aaa; }
  to {
    background-color: #eee;
    transform: rotateY(0deg);
    box-shadow: none; } }
.box3 {
  border-radius: 50%;
  background-color: turquoise;
  text-align: center; }

.b3a {
  animation: spin1 4s;
  height: 1em;
  width: 1em; }

@keyframes spin1 {
  from {
    transforr: rotateZ(0deg);
    height: 6em;
    width: 6em; }
  to {
    transform: rotateZ(2160deg);
    height: 1em;
    width: 1em; } }
.b3b {
  animation: spin2 4s;
  height: 6em;
  width: 6em; }

@keyframes spin2 {
  0% {
    transform: rotateZ(0deg);
    background-color: turqoise;
    height: 1em;
    width: 1em; }
  50% {
    background-color: white; }
  100% {
    transform: rotateZ(-2160deg);
    background-color: turqoise;
    height: 6em;
    width: 6em; } }
.box4 {
  background-color: violet; }

.b4a {
  background-color: yellow;
  transform: rotateY(1080deg);
  animation: spin3 1s 1; }

@keyframes spin3 {
  from {
    transform: rotateY(0deg);
    background-color: violet; }
  to {
    transform: rotateY(1080deg) s;
    background-color: yellow; } }
.b4b {
  background-color: violet;
  transform: rotateX(0deg);
  animation: spin4 1s 1; }

@keyframes spin4 {
  from {
    transform: rotateX(1080deg);
    background-color: yellow; }
  to {
    transform: rotateX(0deg);
    background-color: violet; } }

/*# sourceMappingURL=style.css.map */
