/**
 * Pierce Gresham
 * WebTech
 * Assignment 2
 * 2/3/2017
 *
 * SCSS/CSS file
 */


// Borrowed CSS Reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


 // ---  End Reset  -- //
 

body {
 	background-color: #ccc;
  	
  	//  May not wnat this here. 
  	max-width: 960px;
    font: 1em/1.5em  'Roboto', sans-serif;
    line-height: 1.5;
    margin: auto;
}
h1 {
  	font-size: 2em;
}
h2 {
  	font-size: 1.5em;
}
header h1, header h2 {
	display: inline-block;
}
header h2 {
	margin-left: 2em;
}
.content {
	border: 1px solid blue;
}
section {
	border: 1px solid green;
	margin: 1em;
}
aside {
	border: 1px solid yellow;
	margin: 1em;
}

// --- Menu Style --- //

nav {
	color: #333;
	background-color: rgba(50, 118, 103, 1);
	//min-height: 2em;
	padding-left: .5em;
	a {
	color: black;
	
	}
	a:hover {
		text-decoration: none;
		animation: glow .5s 1;
		text-shadow: 0 0 10px #bbb;
	}
	li {
		display: inline-block;
		padding: .5em 2em 0em 0em;
		border-right: 2px solid #333;
	}
}

@keyframes glow {
	from {
		text-shadow: none;
	}
	to {
		text-shadow: 0 0 10px #bbb;
	}
}
// nav > a {
// 	display: block;
// }

